<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="${basedir}/wwwroot/Logs/internallog.txt">
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <targets>

        <target name="database" xsi:type="Database">
            <connectionString>
                ${configsetting:ConnectionStrings.AppDb}
            </connectionString>
            <commandText>
                insert into dbo.Nlog (
                Application, LogDate, Level, Message,
                Logger, CallSite, Exception
                ) values (
                @Application, @LogDate, @Level, @Message,
                @Logger, @Callsite, @Exception
                );
            </commandText>
            <parameter name="@application" layout="CadastralPortal-API"/>
            <parameter name="@logged" layout="${date}"/>
            <parameter name="@level" layout="${level}"/>
            <parameter name="@message" layout="${message}"/>
            <parameter name="@logger" layout="${logger}"/>
            <parameter name="@callSite" layout="${callsite:filename=true}"/>
            <parameter name="@exception" layout="${exception:tostring}"/>
        </target>

        <target name="logfile" xsi:type="File"
                fileName="${basedir}/wwwroot/Logs/${shortdate}_logfile.txt"
                layout="${longdate} ${level:uppercase=true} ${message}"/>
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="database"/>
        <logger name="*" minlevel="Debug" writeTo="logfile"/>
    </rules>
</nlog>